/* offcanvas menu */
.offcanvas-drawer .close { 
    padding-top: 0.35em;
}
.navbar a.list-group-item {
    width: 100%;
    color: #C5C5C5;
    text-align: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(221, 221, 221, 0.04);
    border-right: 0;
    border-left: 0;
}